<p *ngIf="!empresas">Carregando Empresas</p>
<div class="alert alert-danger col-md-6" *ngIf="mensagemErro">
  {{mensagemErro}}
</div>
<div class="alert alert-danger col-md-6" *ngIf="mensagemSucesso">
  {{mensagemSucesso}}
</div>
<h1 class="h4 titulo mb-2 ">Pesquisa de Empresas</h1>

<button class="btn btn-primary mb-2" (click)="adicionarEmpresa()">Adicionar Empresa</button>

<table class="table table-hover mb-2" ng-If="empresa">
  <thead>
    <tr>
      <th>Empresa Curto</th>
      <th>Empresa Longo</th>
      <th>Empresa Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of empresas">
      <td style="width:60%">{{e.empresaCurto}}</td>
      <td>{{e.empresaLongo}}</td>
      <td style="width:10%"> {{e.empresaAtivo == 1 ? 'ATIVO' : 'INATIVO'}} </td>
      <td><button class="btn btn-success btn-sm" (click)="editarEmpresa(e)">Editar</button></td>
    </tr>
  </tbody>
</table>
