
<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 titulo">Cadastro de Usuarios</h1>
    <label for="inputNome" class="sr-only">Nome</label>
    <input type="text" id="inputNome" name="nomeUsuario" placeholder="Nome do Usuário" class="form-control mb-2"
           [ngClass]="{
           'is-invalid':nome.invalid && (nome.dirty || nome.touched),
           'is-valid':nome.valid && (nome.dirty || nome.touched)
           }" [(ngModel)]="usuario.nome" #nome="ngModel" required />
    <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
      <div *ngIf="nome.errors.required">
        Digite o nome do Usuário
      </div>
    </div>
    <label for="inputUser" class="sr-only">User</label>
    <input type="text" id="inputUser" name="userUsuario" placeholder="Digite o User" class="form-control mb-2"
           [ngClass]="{
           'is-invalid':user.invalid && (user.dirty || user.touched),
           'is-valid':user.valid && (user.dirty || user.touched)
           }" [(ngModel)]="usuario.user" #user="ngModel" required />
    <div class="invalid-feedback mb-2" *ngIf="user.invalid && (user.dirty || user.touched)">
      <div *ngIf="user.errors.required">
        Digite o User
      </div>
    </div>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" name="email" placeholder="Email" class="form-control mb-2" [(ngModel)]="usuario.email"
           [ngClass]="{
           'is-invalid':email.invalid && (email.dirty || email.touched),
           'is-valid':email.valid && (email.dirty || email.touched)
           }"
           #email="ngModel" required email />

    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Digite seu Email
      </div>
      <div *ngIf="email.errors.email">
        Email não está no formato correto
      </div>
    </div>

    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha" name="senhaUsuario" class="form-control mb-2" placeholder="Senha do Usuário"
           [ngClass]="{
           'is-invalid':senha.invalid && (senha.dirty || senha.touched),
           'is-valid':senha.valid && (senha.dirty || senha.touched)
           }" [(ngModel)]="usuario.senha" #senha="ngModel" required />
    <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.errors.required">
        Digite a senha
      </div>
    </div>

    <div class="form-inline">
      <button class="btn btn-primary" style="margin-right:4px" (click)="cadastrar()" [disabled]="ativar_spinner">
        <span class="spinner-border spinner-border-sm" *ngIf="ativar_spinner"></span>
        Cadastrar
      </button>
      <button class="btn btn-secondary" (click)="voltar()">Cancelar</button>
    </div>

    <div class="alert alert-danger col-md-6" *ngIf="mensagemErro">
      {{mensagemErro}}
    </div>
  </form>
</div>
