<p *ngIf="!areas">Carregando Usuários</p>
<div class="alert alert-danger col-md-6" *ngIf="mensagemErro">
  {{mensagemErro}}
</div>
<div class="alert alert-danger col-md-6" *ngIf="mensagemSucesso">
  {{mensagemSucesso}}
</div>
<h1 class="h4 titulo mb-2 ">Pesquisa de Areas</h1>

<button class="btn btn-primary mb-2" (click)="adicionarArea()">Adicionar Áreas</button>

<table class="table table-hover mb-2" ng-If="areas">
  <thead>
    <tr>
      <th>Area Curto</th>
      <th>Area Longo</th>
      <th>Area Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of areas">
      <td style="width:60%">{{a.areaCurto}}</td>
      <td>{{a.areaLongo}}</td>
      <td style="width:10%">{{a.areaAtivo == 1 ? 'ATIVO' : 'INATIVO'}}</td>
      <td><button class="btn btn-success btn-sm" (click)="editarArea(a)">Editar</button></td>
    </tr>
  </tbody>
</table>
